<%- include('../partials/header') %>
<section class="section">
  <h1>Something went wrong</h1>
  <p><%= message %></p>
  <a class="link" href="/">Try again</a>
</section>
<%- include('../partials/footer') %>
